---
---

//
// IMPORTS
//

@import "flex.scss";
@import "reset";
@import "variables";
@import "geomanist";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

$yellow-color: #f7bf17;

body {
  font-family: 'geomanist' !important;

  header {
    background: black url(/images/header.png);
    margin-bottom: 3rem;
    border-bottom: 0.5rem solid $yellow-color;
    -webkit-background-size:cover;
    background-size:cover;
    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse {
      background: transparent !important;
      .navbar-brand {
        color: white;
        @include flexbox();
        @include align-items(center);
      }
      ul.nav.justify-content-end.navbar-nav {
        width: 100%;

      }
    }
    div.description {
      color: white;
      text-align: center;
      padding: 5rem;
      h1 {
        font-size: 5rem;
        margin-bottom: 3rem;
      }
    }
    div.sub-menu {
      ul.nav.justify-content-center {
        border-top: 1px dashed white;
        padding: 1rem 0;
        width: 100%;
        margin: 0 1.5rem;
        input[type="radio"] {
          visibility: hidden;
        }
        label {
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
