<div class="company-benefits">
    <h5>COMPANY BENEFITS</h5>
    <ul>
        <li><b>401(k) Plan Empower</b></li>
        <li><b>Healthcare Plan (BCBS) </b><i>2016</i></li>
        <li><b>Dental Plan (Guardian)</b><i>2016</i></li>
        <li><b>Vision Plan (Guardian - Davis Vision Network)</b><i>2016</i></li>
        <li><b>The Praneet Bonus Program</b><i>2016</i></li>
    </ul>
    <h5>DAYS OFF</h5>
    <ul>
        <li><b>PTO & Holidays</b><i>Updated March 2016</i></li>
        <li><b>Working Solstice Mom Benefit</b><i>2016</i></li>
        <li><b>Bench Time Off Policy</b><i>2016</i></li>
        <li><b>Ferris Bueller's Day Off (FBDO)</b><i>2016</i></li>
    </ul>
    <h5>PAYROLL</h5>
    <ul>
        <li><b>Paylocity Portal Login</b><i>Updated March 2016</i></li>
        <li><b>Paylocity Registration Instructions</b><i>2016</i></li>
    </ul>
</div>