<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="canonical" href="http://atipo.es/geomanist/" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/954779fe0b.js"></script>

  </head>
  <body>
    <header>
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <img src="/images/solsticelogo_white.svg" >
          PORTAL
        </a>
        {% include menu.html %}

      </nav>
      {% if page.title and page.description %}
      <div class="description">
        <h1>{{ page.title}}</h1>
        <p> {{ page.description}}</p>
      </div>
      {% endif %}
      {% include submenu.html %}
    </header>
    <section id="intro" class="intro-section">
      <div class="container">
        <div class="row">
          {{ content }}
        </div>
      </div>
    </section>
    {% include analytics.html %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    {% if page.submenu %}
    <script>
      $(function () {
        $('.submenu-content').hide();
        $('input[type="radio"]').on('click', function(event){
          $('.submenu-content').hide();
          var id = $(this).attr('id');
          $('#'+id+'-tab').show();
        });
      });
    </script>
    {% endif %}
    <script>
      $(function(){
        tinymce.init({
          selector:'textarea.tinymce',
          toolbar: 'bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | fontsizeselect | cut | copy | paste | bullist | numlist',
          menubar: false,
          width: '100%'
        });
      });
    </script>
  </body>
</html>
