---
layout: default
---

{% if page.submenu %}
    {% for item in page.submenu %}
        <article class="submenu-content" id="{{ item.url }}-tab">
            {% include {{ item.urlHtml }} %}
            <form method="POST" action="https://api.staticman.net/v2/entry/vmrodriguez90/Portal/master">
                <input name="options[redirect]" type="hidden" value="{{ item.url }}">
                <input name="options[slug]" type="hidden" value="{{ page.slug }}">

                <input name="fields[page]" type="hidden" value="{{ page.name }}">
                <input type="hidden" value="{{ item.url }}" name="fields[category]"/>
                <label>
                    <textarea class="tinymce" name="fields[post]">

                        {% include {{ item.urlHtml }} %}
                    </textarea>
                </label>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </article>
    {% endfor %}
{% endif %}

